@{
    ViewBag.Title = "ToothPicz | About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  <div class="container">
        <div class="row">
            <div class="span12 about-wrapper">
                <div class="row">
                    <div class="span3 about-title">
                        <h2>About ToothPicz</h2>
                    </div>
                    <div class="span9 about-content">
                        <div class="row">
                            <div class="span3">
                                <h3>Find Your Photos.</h3>
                                <p>ToothPicz is the new way to get access to photos taken of you as soon as they become available! We give photographers the tools to generate a QR code which identifies a set of photos. Scanning this code, or entering the PIN in the search bar at the top of the page is the quickest way to get access to photos taken of you and your friends.</p>
                                <p>Avoid the hassle and frustration of searching for photos taken at events or parties. <em>View, share, and order prints as soon as your photos are uploaded!</em></p>
                                <p><a href="#" class="btn btn-large">Join Now &rarr;</a></p>
                            </div>
                            <div class="span6 img-thumbnail marg10-left">
                                <ul class="thumbnails">
                                    <li class="span4">
                                      <a href="#" class="thumbnail">
                                        <img src="http://placehold.it/360x268" alt="">
                                      </a>
                                    </li>
                                    <li class="span2">
                                      <a href="#" class="thumbnail">
                                        <img src="http://placehold.it/160x120" alt="">
                                      </a>
                                    </li>
                                    <li class="span2">
                                      <a href="#" class="thumbnail">
                                        <img src="http://placehold.it/160x120" alt="">
                                      </a>
                                    </li>
                                    <li class="span2">
                                      <a href="#" class="thumbnail">
                                        <img src="http://placehold.it/160x120" alt="">
                                      </a>
                                    </li>
                                    <li class="span2">
                                      <a href="#" class="thumbnail">
                                        <img src="http://placehold.it/160x120" alt="">
                                      </a>
                                    </li>
                                    <li class="span2">
                                      <a href="#" class="thumbnail">
                                        <img src="http://placehold.it/160x120" alt="">
                                      </a>
                                    </li>
                                  </ul>
                            </div>
                            <div class="span4">
                                <h3>Stay Up To Date.</h3>
                                <p>When a photographer takes a photo of you, we know you want to see it as soon as it's available. ToothPicz will send you notifications as soon as your pictures are ready! Be the first of your friends to see your cool shots, and order prints as to preserve the memories.</p>
                            </div>
                            <div class="span5">
                                <h3>Photographers.</h3>
                                <p class="marg20-right">ToothPicz is a great way to centralize your photo distribution. We allow you to add photos to your albums from nearly any social network of photo service. The tools you need to share your work with clients will be right at your finger tips! When users order prints of your work, we pass the profits on to you as a thank you!</p>
                            </div>
                        </div>
                    </div>
                     <div class="span3 about-title">
                        <h2>The Team</h2>
                    </div>
                    <div class="span9 about-content">
                        <div class="row">
                            <div class="span3">
                                <h3>Who Are We?</h3>
                                <p>We are a team of student developers who love to work on cool projects and participate in hackathons. We continue to work on many projects together including QRnBar, Cheqrz, and others.</p>
                            </div>
                            <div class="span6 img-thumbnail marg10-left">
                                <ul class="thumbnails">
                                    <li class="span3">
                                      <div class="thumbnail">
                                        <div style="width: 100%; height: 200px; background-size:260px 200%; background-image: url('https://sphotos-a.xx.fbcdn.net/hphotos-snc7/405824_10150539047321451_1229300968_n.jpg'); background-repeat: no-repeat;"></div>
                                        <div class="caption">
                                          <h5>Andrew Craswell</h5>
                                          <p>I'm a Computer Science and Economics student at the University of Washington, and work part-time at Bellevue College as a ASP.NET Software Engineer.</p>
                                          <p>In my free time I read, and love listening to Electronic Dance Music.</p>
                                          <p>You can find me on <a href="https://www.facebook.com/AndrewCraswell">Facebook</a>, <a href="https://twitter.com/AndrewCraswell">Twitter</a>, and <a href="http://www.linkedin.com/profile/view?id=66559610">LinkedIn</a>.</p>
                                        </div>
                                      </div>
                                    </li>
                                    <li class="span3">
                                      <div class="thumbnail">
                                        <div style="width: 100%; height: 200px; background-size:260px 200%; background-image: url('https://sphotos-b.xx.fbcdn.net/hphotos-ash4/296838_10151061488883435_2142883336_n.jpg'); background-repeat: no-repeat;"></div>
                                        <div class="caption">
                                          <h5>Shakeeel Mohamed</h5>
                                          <p>I'm a Computer Science student at Seattle University minoring in Entrepreneurship & Innovation.</p>
                                          <p>I enjoy playing sports with friends, have a very critical taste in music, and I'm an independent thinker.</p>
                                          <p>You can find me on <a href="https://www.facebook.com/ShakeelM">Facebook</a>, <a href="https://twitter.com/_Shakeel">Twitter</a>, and <a href="http://www.linkedin.com/profile/view?id=154286075">LinkedIn</a>.</p>
                                        </div>
                                      </div>
                                    </li>
                                  </ul>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
        